@charset "UTF-8";

@font-face {
  font-family: "untitled-font-3";
  src:url("fonts/untitled-font-3.eot");
  src:url("fonts/untitled-font-3.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-3.woff") format("woff"),
    url("fonts/untitled-font-3.ttf") format("truetype"),
    url("fonts/untitled-font-3.svg#untitled-font-3") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-3" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-call-phone:before {
  content: "f";
}
.icon-letter-mail-1:before {
  content: "e";
}
.icon-social-twitter:before {
  content: "d";
}
.icon-arrow-circle-2-down:before {
  content: "h";
}
.icon-target:before {
  content: "i";
}
.icon-pin-map:before {
  content: "j";
}
.icon-dot:before {
  content: "k";
}
.icon-social-twitter-1:before {
  content: "l";
}
.icon-social-tumblr:before {
  content: "m";
}
.icon-social-soundcloud:before {
  content: "n";
}
.icon-social-linkedin:before {
  content: "o";
}
.icon-social-facebook:before {
  content: "p";
}
.icon-blank:before {
  content: "q";
}
.icon-circle-filled:before {
  content: "s";
}
.icon-circle-filled-outline:before {
  content: "r";
}
.icon-loading-2:before {
  content: "t";
}
.icon-record-circled:before {
  content: "u";
}
